# SAP Challenge Notebook


## Imports

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

## Load Data Set

In [6]:
df_stores = pd.read_csv('../dataset/turkish_retail_data/store_cities.csv',
                        delimiter=',',
                        dtype={'store_id':'category',
                               'storetype_id':'category',
                               'city_id':'category'})
df_sales = pd.read_csv('../dataset/turkish_retail_data/sales.csv',
                       delimiter=',',
                       dtype={"product_id":"category",
                              "store_id":"category",
                              "promo_type_1":"category",
                              "promo_bin_1":"category",
                              "promo_type_2":"category",
                              "promo_bin_2":"category",
                              "promo_discount_2":"category",
                              "promo_discount_type_2":"category"},
                       parse_dates=["date"])
df_product_hierachy = pd.read_csv('../dataset/turkish_retail_data/product_hierarchy.csv',
                                 delimiter= ',',
                                 dtype={'product_id':'category',
                                        'cluster_id':'category',
                                        'hierarchy1_id':'category',
                                        'hierarchy2_id':'category',
                                        'hierarchy3_id':'category',
                                        'hierarchy4_id':'category',
                                        'hierarchy5_id':'category'})

display(df_stores.describe())
display(df_sales.describe())
display(df_product_hierachy.describe())

       store_size
count  144.000000
mean    23.847222
std     13.040185
min      6.000000
25%     15.000000
50%     19.500000
75%     28.250000
max     86.000000

              sales       revenue         stock         price
count  1.826408e+07  1.826408e+07  1.826408e+07  1.888286e+07
mean   4.361900e-01  2.064174e+00  1.588102e+01  1.558334e+01
std    1.466364e+01  3.989569e+01  3.728009e+01  3.229611e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e-02
25%    0.000000e+00  0.000000e+00  4.000000e+00  3.350000e+00
50%    0.000000e+00  0.000000e+00  8.000000e+00  7.950000e+00
75%    0.000000e+00  0.000000e+00  1.700000e+01  1.690000e+01
max    4.330100e+04  8.419796e+04  4.716000e+03  1.599000e+03

       product_length  product_depth  product_width
count      681.000000     683.000000     683.000000
mean         7.232305      18.460908      13.454758
std          8.512507      14.269750      10.137132
min          0.000000       0.000000       0.000000
25%          3.000000      10.900000       7.450000
50%          5.000000      17.000000      10.800000
75%          8.000000      23.150000      16.000000
max        100.000000     165.000000     100.000000

       store_size
count  144.000000
mean    23.847222
std     13.040185
min      6.000000
25%     15.000000
50%     19.500000
75%     28.250000
max     86.000000

              sales       revenue         stock         price
count  1.826408e+07  1.826408e+07  1.826408e+07  1.888286e+07
mean   4.361900e-01  2.064174e+00  1.588102e+01  1.558334e+01
std    1.466364e+01  3.989569e+01  3.728009e+01  3.229611e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e-02
25%    0.000000e+00  0.000000e+00  4.000000e+00  3.350000e+00
50%    0.000000e+00  0.000000e+00  8.000000e+00  7.950000e+00
75%    0.000000e+00  0.000000e+00  1.700000e+01  1.690000e+01
max    4.330100e+04  8.419796e+04  4.716000e+03  1.599000e+03

       product_length  product_depth  product_width
count      681.000000     683.000000     683.000000
mean         7.232305      18.460908      13.454758
std          8.512507      14.269750      10.137132
min          0.000000       0.000000       0.000000
25%          3.000000      10.900000       7.450000
50%          5.000000      17.000000      10.800000
75%          8.000000      23.150000      16.000000
max        100.000000     165.000000     100.000000

## Transform into time series